span.username #{user.username}
span.full-name #{user.full_name}
span.bio #{user.bio}
a.website(href= user.website) #{user.website}
a.user-page(href='/user/' + user.id) User's Page
img(src= user.profile_picture)
