white(alpha)
  rgba(255,255,255,alpha)

#media
  background-color white(1)
  width 612px
  min-width 612px
  height 100%
  margin 0 auto
  padding 9rem 0
  text-align center
  box-shadow 0 0 50px 50px white(1)

  .content

    > div
      margin-bottom 9rem

    .actions
      text-align right
      font-size 1.3rem

      a
        display inline-block
        margin 6px 6px
        width 1.2rem
        //text-align center
        //border-radius .3rem
    
      a.like-this.liked
        color pink
