global-reset()

base-color = #AAA

body
  background-color #fff
  font-family serif
  font-size 1.1rem
  letter-spacing .07rem
  color base-color

  #global-menu
    text-align right
    margin .5rem

    li
      display inline
      margin .5rem

a
  color lighten(base-color, 10)
  text-decoration none

  :visited
    color lighten(base-color, 20)
