each medium in media
  .media(id='#{medium.id}')
    img(src= medium.images.standard_resolution.url)
    .links
      a(href= '/media/#{medium.id}/info') info
      // .user
      //   user = medium.user
      //   include user
